# Dotnet
bin
obj

# Haskell
dist-newstyle

# Java
*.iml
.gradle
.idea
build
out

# MacOS
.DS_Store

# Node.js
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

# Python
.ipynb_checkpoints
__pycache__
venv

# Rust
target

# VSCode
.vscode
