# Dotnet
bin
obj

# Haskell
dist-newstyle

# Java
*.iml
.gradle
.idea
build
out

# MacOS
.DS_Store

# Node.js
node_modules

# Python
.ipynb_checkpoints
__pycache__
venv

# Rust
target

# VSCode
.vscode
