:root {
  --color-main: #286983;
}

body {
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 0.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 6rem 0;

  font-family: monospace;
  font-size: 2rem;
}

.caret {
  background: var(--color-main);
}

.title {
  color: var(--color-main);
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 1rem;

  margin: 4rem 0;

  font-family: sans-serif;
  font-size: 1.4rem;
}

a {
  color: black;
  text-decoration: none;
  padding: 0.4rem;
  border-bottom: 0.2rem solid var(--color-main);
}

a:hover {
  color: white;
  background-color: var(--color-main);
  border-bottom: none;
}

@media only screen and (max-width: 17em) {
  body {
    word-break: break-all;
  }
}
