on: [push]

jobs:
  decision-tree:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: decision-tree
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8
      - run: dotnet restore
      - run: dotnet build
      - run: |
          dotnet new tool-manifest
          dotnet tool install fantomas
          dotnet tool run fantomas --check .
      - run: dotnet test

  dijkstra:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dijkstra
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          cache-dependency-path: dijkstra/go.sum
          go-version: 1.23
      - run: go build -v
      - run: test -z $(gofmt -l .)
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: staticcheck .
      - run: go test -v

  genetic:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: genetic
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8
      - run: dotnet restore
      - run: dotnet build
      - run: |
          dotnet new tool-manifest
          dotnet tool install csharpier
          dotnet dotnet-csharpier --check .

  infra:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init
      - run: terraform fmt -check
      - run: terraform validate

  pi:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pi
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install stable
      - run: cargo build -r
      - run: cargo check -r
      - run: cargo clippy -r
      - run: cargo fmt --check

  reportus:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: reportus
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: pip
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: ruff check --select I
      - run: ruff check
      - run: ruff format --check
      - run: pyright
      - run: pytest tests
      - run: playwright install-deps && playwright install chromium
      - run: pytest e2e

  website:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - run: npm run format:check
      - run: sudo snap install typst
      - run: npm run build

  website-audit:
    needs: website
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - run: npm run audit
